@use '../utils' as *;

/*============= DARK MODE CSS AREA ===============*/
.light-mode {
    --ztc-bg-bg-1: #fff;
    --ztc-dark-bg-bg-2:rgba(6, 29, 30, 0.10);
    --ztc-text-text-1: #0E161F;
    --ztc-text-text-2: #fff;
    --ztc-border-border-1:rgba(6, 29, 30, 0.20);
    --ztc-bg-sticky-bg: #fff;
    --ztc-bg-bg2: rgba(6, 29, 30, 0.05);
    --ztc-border-border-2: rgba(6, 29, 30, 0.10);
    --ztc-border-border-3: #0E161F;
    --ztc-bg-bg3: rgba(6, 29, 30, 0.05);
}
.light-mode {
  .vl-btn1 {
    &:hover {
      img {
        filter: none;
      }
    }
  }
  .main-hero-area {
    background-image: url(../../img/all-images/bg/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .personal-contact-box {
    ul {
      li {
        a {
          img {
            filter: brightness(0);
          }
        }
      }
    }
  }
  .list-group {
    a {
      img {
        filter: brightness(0);
      }
    }
  }



}
/*============= DARK MODE CSS AREA ENDS===============*/