@use '../utils/' as *;

/*
============================
Name:  Personal Portfolio Template
Version: 1.0.0
Description: Personal Portfolio Template
============================
*/

/*============= HEDAER CSS AREA ===============*/
/*============= HERO CSS AREA ===============*/
/*============= MOBILE-MENU CSS AREA ===============*/
/*============= ABOUT CSS AREA ===============*/
/*============= WORK CSS AREA ===============*/
/*============= CASE CSS AREA ===============*/
/*============= OTHERS CSS AREA ===============*/