@use '../../utils/' as * ;

/*============= HEADER CSS AREA ENDS ===============*/

// HOMEPAGE1 HEADER STARTS //
.body1 {
background: var(--ztc-bg-bg-1);
@media #{$xs} {
    overflow-x: hidden !important;
    overflow-y: hidden;
}
@media #{$md} {
    overflow-x: hidden !important;
    overflow-y: hidden;
}
}

/*============= HEADER CSS AREA ENDS ===============*/